---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'

const { data } = Astro.props
const images = [feature01, feature02, feature03, feature04, feature05]
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Innovative tools to <strong>transform</strong> your workflow</h2>
			<p class="pb-0 text-lg">
				Explore the suite of tools designed to streamline your workflow, enhance productivity, and
				drive growth. Each product is crafted with precision to meet your needs and exceed your
				expectations.
			</p>
		</Col>
	</Row>
	<Row>
        {data.map((feature, index) => (
            <Col span="4" classes="flex flex-col gap-6">
                <Card
                    title={feature.title}
                    subtitle={feature.description}
                    image={images[index]}
                    link="/features"
                    data-tina-field={`features.${index}`}
                />
            </Col>
        ))}
	</Row>
</Section>